{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center">
		<div class="card p-3 py-4">
			<div class="text-center">
				<img src="{{ vich_uploader_asset(user) }}" alt="portrait" width="100" class="rounded-circle">
				{% if app.user == user %}
					{{ form_start(form) }}
					<div class="d-flex justify-content-center align-items-center upload-container">
						{{ form_row(form.avatarFile, {'attr': {'class': 'small-upload-button',}}) }}
						<button type="submit" class="btn btn-primary btn-modifier">Enregistrer la photo</button>
					</div>
					<h3 class="name">{{ user.firstname }}
						{{ user.lastname }}</h3>
					<div class="role">
						{% if 'ROLE_ADMIN' in user.roles %}
							Administrateur
						{% elseif 'ROLE_EMPLOYE' in user.roles %}
							Salarié
						{% else %}
							Bénévole
						{% endif %}
					</div>
					{% if user.biography is not null %}
						<p class="mt-4">
							<em>
								<strong>"
									{{ user.biography }}
									"</strong>
							</em>
						</p>
					{% endif %}
					{{ form_row(form.biography) }}
					<div class="description">
						<button type="submit" class="btn btn-primary btn-modifier">Enregistrer ma description</button>
					</div>
					{{ form_end(form) }}
					<hr class="line">

					<div class="decision-info">
						<div>
							<p>
								{{ user.getCreatedDecisionsCount() }}
								décision(s) créée(s)</p>
						</div>

						<div>
							<p>Impacté(e) par
								{{ user.getImpactedDecisionsCount() }}
								décision(s)</p>
						</div>

						<div>
							<p>Expert(e) dans
								{{ user.getExpertDecisionsCount() }}
								décision(s)</p>
						</div>
					</div>
					<div class="email">
						{{ user.email }}</div>
					<a href="{{ path('app_forgot_password_request') }}" class="btn btn-primary btn-modifier">Modifier mon mot de passe</a>
				{% else %}
					<h1 class="name">{{user.firstname }}
						{{ user.lastname }}</h1>
					<span class="role">
						{% if 'ROLE_ADMIN' in user.roles %}
							Administrateur
						{% elseif 'ROLE_EMPLOYE' in user.roles %}
							Salarié
						{% else %}
							Bénévole
						{% endif %}
					</span>
					<div class="mt-1 Activated">
						{% if not user.isActivated %}(Compte désactivé)
						{% endif %}
					</div>

					{% if user.biography is not null %}
						<p class="mt-4">
							<em>
								<strong>"
									{{ user.biography }}
									"</strong>
							</em>
						</p>
					{% endif %}
					<hr class="line">
					<div class="decision-info">
						<div>
							<p>
								{{ user.getCreatedDecisionsCount() }}
								décision(s) créée(s)</p>
						</div>

						<div>
							<p>Impacté(e) par
								{{ user.getImpactedDecisionsCount() }}
								décision(s)</p>
						</div>

						<div>
							<p>Expert(e) dans
								{{ user.getExpertDecisionsCount() }}
								décision(s)</p>
						</div>
					</div>
					<a href="mailto:{{ user.email }}" class="btn btn-primary btn-mail">Lui envoyer un message</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
