{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
	<header>
		<div class="home">
			<div class="position-absolute top-50 start-50 translate-middle fs-1">
				<div class="logo"></div>
				<img src="{{ asset('build/images/logo-dark.png')}}" class="img-fluid">
				<h1 class="fw-bold center">#balancetonidée</h1>
				<h2 class="fw-bold center text-primary">en interne</h2>
			</header>
			<main>
				<div class="home">

					<div class="title title-vedette d-flex justify-content-center">
						<h1 class="text-center fw-bold fs-1 my-5">En
							<span class="pastille"></span>
							vedette
						</h1>
					</div>
					<div class="container">
						<div class="row">
							{% for decision in decisions %}
								<div class="col-lg-4 col-md-6">
									<div class="card shadow mb-5 border border-0 rounded bg-tertiary">
										<div class="card-body p-0">
											<div class="img1"></div>
											<div class="position-relative">
												<div class="card-main">
													<img class="img rounded-circle position-absolute shadow mx-4 bg-tertiary" src="{{ asset('build/images/profil.png')}}">
													<div class="statut pt-3 mx-3 text-end">
														<div class="btn btn-outline-tertiary bg-danger fw-bolder fs-6 btn-rounded rounded-pill shadow text-tertiary">Statut</div>
													</div>
													<p class="text-tertiary border-tertiary fw-bolder fs-6 mx-3 mb-2 border-2 p-2 border-bottom">{{ decision.status }}</p>
													<h4 class="card-title text-tertiary fw-bolder p-3 fs-4 mb-0" style="height: 8rem">{{ decision.title }}</h4>
													<p class="card-text text-tertiary fw-bolder mb-1 p-3">{{ decision.category.title }}</p>
													<div class="text-end p-3 text-l tertiary btn-rounded">
														<a href="{{ path('app_decision_show', {'id': decision.id}) }}" class="btn btn-outline-primary bg-light border-secondary shadow fw-bolder fs-6 btn-rounded rounded-pill">En savoir plus</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</main>
			{% endblock %}
