{% extends 'admin/adminLayout.html.twig' %}

{% block title %}Gestion des catégories
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_user') }}
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text-primary fw-bold py-5">Gestion des catégories</h1>


		<table class="admin table table-success table-striped table-header-fixed">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Image</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.title }}</td>
						<td><img src="{{ vich_uploader_asset(category) }}"></td>

						<td>
							<a class="edit btn btn-sm btn-outline-primary" href="{{ path('admin_category_edit', {'id': category.id}) }}">
								{% include 'icons/pencil.svg'%}
								Modifier</a>
						</td>
						<td>
							{% if category.decisions.isEmpty() %}
								{% include 'admin/admin_category/_delete_form.html.twig' %}
							{% else %}
								{# Suppression impossible, catégorie liée. #}
								Non supprimable
							{% endif %}
						</td>

					</tr>
				{% else %}
					<tr>
						<td colspan="3">Aucune catégorie trouvée</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-light rounded-pill px-3 my-4 text-primary fw-bold" href="{{ path('admin_category_new') }}">Ajouter</a>


	</main>
{% endblock %}
