{% extends 'base.html.twig' %}

{% block title %}Modifier décision
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('addDecision') }}
{% endblock %}

{% block body %}
	<h1 class="text-primary text-center fw-bold fs-1 mt-5">Gérer ma décision</h1>
	<div class="container bg-light rounded  p-4">
		{% include 'components/_workflowStatus.html.twig' %}
		<h4 class="fw-bold text-primary mt-2 mb-4">
			{{ decision.status }}
		</h4>
		{{ include('decision/_form.html.twig', {'button_label': 'Mise à jour'}) }}
		{{ include('decision/_delete_form.html.twig') }}
		<div class="form-decision">
			<a href="{{ path('status_my_decision') }}" class="btn btn-primary fw-bold rounded-pill px-3 mb-5">Retour</a>
		</div>


	</div>
{% endblock %}
