{% extends 'base.html.twig' %}

{% block title %}Decision index
{% endblock %}

{% block body %}
	<h1>Decision index</h1>


	{% for decision in decisions %}


		<h2>{{ decision.title }}</h2>
		<p>{{ decision.startDate ? decision.startDate|date('d-m-Y') : '' }}</p>
		<p>{{ decision.description | raw }}</p>

		<a href="{{ path('app_decision_show', {'id': decision.id}) }}">show</a>
		<a href="{{ path('app_decision_edit', {'id': decision.id}) }}">edit</a>

		{% else %}

	{% endfor %}


	<a href="{{ path('app_decision_new') }}">Create new</a>
{% endblock %}
