{% extends 'base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('showDecision') }}
{% endblock %}
{% block title %}Decision
{% endblock %}
{% block body %}
	<h1 class="text-primary text-center fw-bold fs-1 my-5">{{ decision.title }}</h1>
	<div class="container decision-show d-flex justify-content-end my-4">
		<div class="dropdown  mx-2">
			<button class="btn impact btn-secondary text-primary fw-bold py-2 px-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Personnes impactées
			</button>
			<ul class="dropdown-menu text-primary bg-tertiary border border-tertiary" aria-labelledby="dropdownMenuButton">
				{% for expertUser in decision.expertUsers %}
					<li>
						<a class="dropdown-item text-primary fw-bold" href="{{ path('app_profile', {'id': expertUser.id}) }}">
							{{ expertUser.firstname }}
							{{ expertUser.lastname }}
							{{ expertUser.avatar }}
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
		<div class="dropdown  mx-2">
			<button class="btn expert btn-secondary text-primary fw-bold p-2 px-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Personnes expertes
			</button>
<ul class="dropdown-menu text-primary bg-tertiary border border-tertiary" aria-labelledby="dropdownMenuButton">
				{% for impactedUser in decision.impactedUsers %}
					<li>
						<a class="dropdown-item text-primary fw-bold" href="{{ path('app_profile', {'id': impactedUser.id}) }}">
							{{ impactedUser.firstname }}
							{{ impactedUser.lastname }}
							{{ impactedUser.avatar }}
						</a>
					</li>
				{% endfor %}
			</ul>		</div>
	</div>
	<div class="container">
		<p class="text-primary fw-bold fs-5">{{ decision.status }}</p>
		<p class="mb-0 text-primary fw-bold fs-5">Date de début de la décision :</p>
		<p class="text-primary fs-5">{{ decision.startDate ? decision.startDate|date('Y-m-d H:i:s') : '' }}</p>
		<p class="mb-0 text-primary fw-bold fs-5">Catégorie :</p>
		<p class="text-primary fs-5">{{ decision.category.title }}</p>
		<h2 class="mt-4 text-primary fw-bold">Description de la décision</h2>
		<i class="bi bi-x-square-fill"></i>
		<p>{{ decision.description | raw }}</p>
		{{ component('decisionVote', { decision: decision }) }}
	</div>
	<div class="container">
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header rounded" id="headingOne">
					<button class="accordion-button bg-transparent text-primary fw-bold p-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Avis
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse text-primary" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					{% for comment in decision.comments %}
						<div class="accordion-body bg-light rounded">
							<div class="comment">
								<p class="text-primary fw-bold">{{ comment.user.fullname }}</p>
								<p class="text-primary">{{ comment.text}}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="my-5">
			{% if app.user %}
				{{ form_start(form) }}
				{{ form_widget(form, { 'attr': {'class': 'text-primary fw-bold'}}) }}
				<button class="btn btn-light rounded-pill px-3 mt-2 mb-5 text-primary fw-bold">{{ button_label|default('Laissez un commentaire') }}</button>
				{{ form_end(form) }}
			{% endif %}
			<a class="btn btn-primary mt-3 px-3 rounded-pill text-tertiary bg-primary fw-bold" href="{{ path('status_home') }}">Retour</a>
		</div>
	</div>
{% endblock %}
