{% extends 'admin/adminLayout.html.twig' %}


{% block title %}Gestion des utilisateurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_user') }}
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text_primary">Gestion des utilisateurs</h1>

		<table class="table table-success table-striped table-header-fixed">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.lastname }}</td>
						<td>{{ user.firstname }}</td>
						<td>
							{{ component('role', { user: user })  }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Aucun utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
