{% extends 'admin/adminLayout.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_user') }}
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text_primary">Gestion des utilisateurs</h1>

		<table class="table table-success table-striped table-header-fixed">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.lastname }}</td>
						<td>{{ user.firstname }}</td>
						<td>
							<div class="btn-group">
								<button type="button" class="btn btn-outline-primary dropdown-toggle custom-button-width" data-bs-toggle="dropdown">
									{% if 'ROLE_ADMIN' in user.roles %}
										Administrateur
									{% elseif 'ROLE_EMPLOYEE' in user.roles %}
										Salarié
									{% else %}
										Bénévole
									{% endif %}
								</button>
								<ul class="dropdown-menu">
									<li>
										<form action="{{ path('admin_user_update_status', {'id': user.id}) }}" method="post">
											<input type="hidden" name="_method" value="POST">
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('update_status' ~ user.id) }}">
											<button class="dropdown-item" type="submit" name="status" value="ROLE_ADMIN">Administrateur</button>
										</form>
									</li>
									<li>
										<form action="{{ path('admin_user_update_status', {'id': user.id}) }}" method="post">
											<input type="hidden" name="_method" value="POST">
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('update_status' ~ user.id) }}">
											<button class="dropdown-item" type="submit" name="status" value="ROLE_EMPLOYEE">Salarié</button>
										</form>
									</li>
									<li>
										<form action="{{ path('admin_user_update_status', {'id': user.id}) }}" method="post">
											<input type="hidden" name="_method" value="POST">
											<input type="hidden" name="_csrf_token" value="{{ csrf_token('update_status' ~ user.id) }}">
											<button class="dropdown-item" type="submit" name="status" value="ROLE_USER">Bénévole</button>
										</form>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Aucun utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</main>
{% endblock %}
