{% extends 'admin/adminLayout.html.twig' %}


{% block title %}Gestion des utilisateurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_user') }}
{% endblock %}

{% block body %}
<main class="container g-0">
	<div class="d-flex align-items-center">
		<div class="me-4">
			<h1 class="text-primary fw-bold fs-1 my-5">Gestion des utilisateurs</h1>
		</div>

		<div class="flex-grow-1 ms-4">
			{{ form_start(form) }}
			<div class="d-flex align-items-center">
				<div class="flex-grow-1">
					{{ form_widget(form.search, {'attr': {'placeholder': 'Rechercher par Nom d\'utilisateur'}}) }}
                </div>
                <button class="search btn border-none rounded-pill" type="submit">
                    <img src="{{ asset('build/images/search.svg') }}" style="width: 25px" alt="Rechercher">
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

		<table class="table table-success table-striped table-header-fixed">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th></th>
					<th>Status</th>
					<th>Accès Compte</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>
						<a href="{{ path('app_profile', {'id': user.id}) }}">{{ user.lastname }}</a>
						</td>
						<td>
						<a href="{{ path('app_profile', {'id': user.id}) }}">{{ user.firstname }}</a>
						</td>
						<td>
                   			{% if user.avatar %}
							<a href="{{ path('app_profile', {'id': user.id}) }}">
                        		<img src="{{ asset('uploads/avatar/' ~ user.avatar) }}" alt="Portrait" class="user-avatar">
                    		</a>
							{% else %}
                        		<span>Aucune photo</span>
                    		{% endif %}
                		</td>
						<td>
							{{ component('role', { user: user })  }}
						</td>
						<td>
							{{ component('activationSwitch', { user: user }) }}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Aucun utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</main>
{% endblock %}
