<div class="background">
	<div class="wave"></div>
</div>

{# {{ include('components/_search_form.html.twig') }} #}
<div class="decision">
	<div class="container">
		<div class="row">
			{% for decision in decisions %}
				<div class="col-lg-4 col-md-6">
					<div class="card shadow mb-5 border border-0 rounded bg-tertiary">
						<div class="card-body">
							<div class="img1"></div>
							<div class="position-relative">
								<div class="card-main">
									<img class="img-profile rounded-circle position-absolute shadow mx-4 bg-tertiary" src="{{ asset('build/images/profil.png')}}">
									<div class="statut pt-3 mx-3 text-end">
										<div class="btn btn-outline-tertiary bg-danger fw-bolder fs-6 btn-rounded rounded-pill shadow text-tertiary">Statut</div>
									</div>
									<p class="text-primary border-primary fw-bolder fs-6 mx-3 mb-2  border-primary border-2 p-2 border-bottom">{{ decision.status.name }}</p>
									<h4 class="card-title text-primary fw-bolder p-3 fs-4 mb-0">{{ decision.title }}</h4>
									<p class="card-text text-primary fw-bolder mb-1 p-3">{{ decision.category.title }}</p>
									<div class="text-end p-3 text-l primary btn-rounded">
										<a href="{{ path('app_decision_show', {'id': decision.id}) }}" class="btn btn primary bg-light border-secondary shadow fw-bolder fs-6 btn-rounded rounded-pill">En savoir plus</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
