<div class="container">

	<nav class="navbar navbar-expand-lg border-bottom border-primary rounded-pill border-4 navbar-transparent bg-transparent">
		<div class="container-fluid mx-3">
			<a class="navbar-brand fs-2 fw-bold text-light mx-0" href="{{ path('home_page') }}"><img src="{{ asset('build/images/logo-dark.png') }}" alt="makesense" width="160px"></a>

			<button class="navbar-toggler border border-primary p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<img src="{{ asset('build/images/menu.svg') }}" alt="menu" width="50px">

			</button>
			<div class="collapse navbar-collapse  justify-content-end fw-semibold" id="navbarNav">
				<ul class="navbar-nav align-items-center gap-3">
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="link nav-link text-primary fw-bold px-3" href="{{ path('admin_home') }}">Admin</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="link nav-link text-primary fw-bold px-3" href="{{ path('status_home') }}">Les décisions</a>
					</li>
					<li class="nav-item">
						<a class="link nav-link fw-bold text-primary px-3" href="{{ path('app_decision_new') }}">Ajouter une décision</a>
					</li>
					<li class="nav-item">
						<a class="link nav-link text-primary fw-bold px-3" href="{{ path('status_my_decision') }}">Mes décisions</a>

					</li>
					<li class="nav-item">
						{{ component('notification') }}
					</li>
					<li class="nav-item text-primary">
						{% if app.user %}
							<li class="nav-item dropdown">
								<a class="profile" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="{{ asset('build/images/profile.svg') }}" alt="profil" width="60px">
								</a>
								<ul class="dropdown-menu dropdown-menu-end bg-primary border border-secondary">
									<li>
										<a class="dropdown-item text-light bg-primary fw-light" href="{{ path('app_profile') }}">Profil</a>
									</li>
									<li>
										<a class="dropdown-item text-light bg-primary fw-light" href="{{ path('app_logout') }}">Déconnexion</a>
									</li>
								</ul>
							</li>
						{% else %}
							<a class="link nav-link fw-bold text-primary px-3" href="{{ path('app_login') }}">Connexion</a>
						{% endif %}
					</li>
				</li>
			</ul>
		</div>
	</nav>
</div>
